@charset "UTF-8";

@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic,400italic);

@font-face {
	font-family: "icons";
	src:url("/static/fonts/icons.eot");
	src:url("/static/fonts/icons.eot?#iefix") format("embedded-opentype"),
		url("/static/fonts/icons.ttf") format("truetype"),
		url("/static/fonts/icons.svg#icons") format("svg"),
		url("/static/fonts/icons.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}